{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="header-about">
        <h5>BONJOUR, JE SUIS DÉVELOPPEUR WEB.</h5>
        <h2>G W E N D A L <span>&nbsp;</span> N O G U E S</h2>
    </div> 

{% endblock %}