{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block body %}

<section class="works">
    <div class="work-title">
        <h2>Travaux</h2>
    </div>
    <div class="work-main">
    </div>
</section>
    
{% endblock %}