{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block body %}

<section class="works">
    <div class="work-title">
        <h2>Travaux</h2>
    </div>
    <div class="work-main">
        <div class="work">
            <a href="">
                <img src="{{ asset('assets/work-1/site-1f.jpg') }}" alt="site-vitrine-illustratrice"  class="work-front"/>
            </a>
            <div class="work-info">
                <p>Site Vitrine Illustratrice</p><br>
                <p>Projet de fin de formation</p><br>
                <p>Technologie utilisée : </p><br>
                <a href="https://laravel.com/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1969px-Laravel.svg.png" alt="laravel" width="60" height="60"/>
                </a>
                <a href="https://laravel.com/docs/12.x/blade">
                    <img src="https://avatars.githubusercontent.com/u/63051368?v=4" alt="blade" width="60" height="60">
                </a>
            </div>
        </div>
        <div class="work">
            <a href="" class="work-front-fit">
                <img src="{{ asset('assets/work-2/glad-iator.png') }}" alt="site-vitrine-illustratrice"  class="work-front"/>
            </a>
            <div class="work-info">
                <p>Site e-commerce</p><br>
                <p>Exercice de fin de module</p><br>
                <p>Technologie utilisée : </p><br>
                <a href="https://symfony.com/">
                    <img src="https://cdn.worldvectorlogo.com/logos/symfony.svg" alt="symfony" width="60" height="60"/>
                </a>
                <a href="https://twig.symfony.com/">
                    <img src="https://www.drupal.org/files/issues/2023-06-12/twig_tweak_original-fs8.png" alt="twig" width="60" height="60">
                </a>
            </div>
        </div>
        <div class="work">
            <a href="">
                <img src="{{ asset('assets/work-3/work-3-1.jpg') }}" alt="reseau-social"  class="work-front" width="300"/>
            </a>
            <div class="work-info">
                <p>Mini-réseau social</p><br>
                <p>Exercice fin de module</p><br>
                <p>Technologie utilisée : </p><br>
                <a href="https://symfony.com/">
                    <img src="https://cdn.worldvectorlogo.com/logos/symfony.svg" alt="symfony" width="60" height="60"/>
                </a>
                <a href="https://twig.symfony.com/">
                    <img src="https://www.drupal.org/files/issues/2023-06-12/twig_tweak_original-fs8.png" alt="twig" width="60" height="60">
                </a>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}